/* css reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --margin: 120px;
    --discord-color: #7289da;
}

/* generals */

html{
    font-size: 25px;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

h1, h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.75rem;
}

p{
    font-size:  1rem;
    line-height: 1.5rem;
}

/* utilities */
.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo{
    height: 50px;
}

.big-btn{
    font-size: 1rem;
    padding: 20px 40px;
    border-radius: 50px;
}

.b-white{
    color: black;
    background-color: white;
}

.b-black{
    color: white;
    background-color: black;
}

.b-purple{
    background-color: var(--discord-color);
}

.t-purple{
    color: var(--discord-color);
}

/* header */
/* top header */
header{
    background-color: #255ee9;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    padding: 20px 0 var(--margin);
}

.hder-top{    
    width: 100%;
    font-size: 20px;
    align-items: center;
}

.hder-top-left, .hder-top-right{
    flex-basis: 25%;
}

.hder-top-right{
    justify-content: flex-end;
}

.hder-top nav{
    flex-basis: 50%;
}

.hder-top nav ul{
    justify-content: space-evenly;
}

.hder-login{
    padding: 15px 20px;
    border-radius: 40px;
}

/* bottom header */
.hder-bottom{
    margin-top: 150px;
}

.hder-abstract{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.hder-abstract h1{
    margin-bottom: 60px;    
}

.hder-big-buttons{
    justify-content: space-between;
    width: 75%;
    margin: 50px auto 0;
}

/* main */
section{
    padding: var(--margin) 0;
}

section:nth-of-type(even){
    background-color: #f6f6f6;    
}

section:nth-of-type(even)::before,
section:nth-of-type(even):not(:last-of-type)::after{
    /* wave needs to be added to every even row but not last row. for only four rows maybe this^ selector is overkill but it allows to add more rows easily */
    content: "";
    display: inline-block;
    height: 75px;
    width: 100%;
    background-image: url(../img/wave.svg);
    position: relative;
}

section:nth-of-type(even)::before{
    /* content needs to be moved up by the padding (--margin) + its own height  */
    top: calc(-75px - var(--margin));
}

section:nth-of-type(even)::after
{
    bottom: calc(-75px - var(--margin));
    rotate: 180deg;
}

.c-large{
    width: calc(100%/5 * 3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section figure, section img{
    width: 100%;
}

section h2{
    margin-bottom: 50px;
}

.c-small{
    width: calc(100%/5 * 2);
    padding: 40px;
}

/* last row */

.single-col{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.stars-bg{
    background-image: url(../img/stars.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
}

/* Footer */
footer{
    background-color: #23272a;
    color: white;
    padding-top: 50px;
}

/* top footer */
.fter-top-box{
    padding-bottom: 40px;
    border-bottom: 2px solid var(--discord-color);    
}

.fter-top-box-left{
    flex-basis: calc(100% / 5 * 1.5);
}

.fter-top-box-left > *{
    margin-bottom: 30px;
}

.lang-flag{
    width: 30px;
}

.lang{
    font-size: .65rem;
}

.fter-lang *{
    vertical-align: middle;    
}

.social-media-logos > *{
    font-size: 1rem;
    padding-right: 20px;
}

.fter-top-box-right{
    flex-grow: 1
}

.fter-top-box-right-column{
    width: calc(100% / 4);
}

footer li{
    margin-bottom: 15px;
    font-size: .8rem;
}

footer li:first-child{
    font-weight: 900;
    color: var(--discord-color);
}

/* bottom footer */
.fter-bottom{
    padding: 30px 0 60px;
    justify-content: space-between;
    align-items: center;
}