/* css reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --margin: 200px
}

/* generals */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

h1, h2{
    font-size: 65px;
}

h3{
    font-size: 40px;
}

p{
    font-size: 28px;
    line-height: 40px;
}

/* utilities */

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.border-black{
    border: 2px dashed black;
}

.border-white{
    border: 2px dashed white;
}

.big-btn{
    font-size: 28px;
    padding: 20px 40px;
    border-radius: 50px;
}

.b-white{
    color: black;
    background-color: white;
}

.b-black{
    color: white;
    background-color: black;
}

.b-purple{
    background-color: #8ea1e1;
}

/* header */
/* top header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    padding: 20px 0 var(--margin);
}

.hder-top{    
    width: 100%;
    font-size: 20px;
    align-items: center;
}

.hder-top-left, .hder-top-right{
    flex-basis: 25%;
}

#hdr-logo{
    height: 50px;
}

.hder-top-right{
    justify-content: flex-end;
}

.hder-top nav{
    flex-basis: 50%;
}

.hder-top nav ul{
    list-style-type: none;
    justify-content: space-evenly;
}

.hder-login{
    padding: 15px 20px;
    border-radius: 40px;
}

/* bottom header */
.hder-bottom{
    margin-top: 150px;
}

.hder-abstract{
    width: 1080px;
    text-align: center;
    margin: 0 auto;
}

.hder-abstract h1{
    margin-bottom: 60px;    
}

.hder-big-buttons{
    justify-content: space-evenly;
    width: 75%;
    margin: 50px auto 0;
}




/* main */
section{
    padding: var(--margin) 0;
}

section:nth-of-type(even){
    background-color: #f6f6f6;    
}

section:nth-of-type(even)::before{
    content: "";
    display: inline-block;
    height: 50px;
    width: 100%;
    background-image: url(../img/wave.svg);
    position: relative;
    /* content needs to be moved up by the padding (--margin) + its own height  */
    top: calc(-50px - var(--margin));
    opacity: 0.04;
}

section:nth-of-type(even):not(:last-of-type)::after{
    /* wave needs to be added to every even row but not last row. for only four rows maybe this^ selector is overkill but it allows to add more rows easily */
    content: "";
    display: inline-block;
    height: 50px;
    width: 100%;
    background-image: url(../img/wave.svg);
    position: relative;
    bottom: calc(-54px - var(--margin));
    opacity: 0.04;
    rotate: 180deg;
}

.c-large{
    width: calc(100%/5 * 3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section figure, section img{
    width: 100%;
}

section h2{
    margin-bottom: 50px;
}

.c-small{
    width: calc(100%/5 * 2);
    padding: 40px;
}

/* last row */

.single-col{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.stars-bg{
    background-image: url(../img/stars.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
}



/* Footer */
footer{
    background-color: #23272a;
    color: #7289da;
    padding-top: 15px;
}

/* top footer */
.fter-top{
    border-bottom: 2px solid white;
}

.fter-box{
    margin-bottom: 40px;
}

.fter-box-left{
    background-color: #f08080;
    width: calc(100% / 5 * 1.5);
}

.fter-box-right{
    flex-grow: 1
}

.fter-box-right-column{
    width: calc(100% / 4);
    background-color: #20b2aa;
}


/* bottom footer */
.fter-bottom-box{
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
    height: 50px;
}

.fter-bottom-box div{
    background-color: #ffb6c1;
    padding: 5px 8px;
} 